body {
    overflow: hidden;
}


.button1 {
    position: absolute;
    margin-left: 55%;
    margin-right: 0%;
    top: 300px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    box-shadow: 0px 8px 0px 2px rgb(105, 105, 105);
}

/* this changes the color of the button when clicked */
.button1:active {
    background-color: rgb(250, 72, 72);
}

.button2 {
    position: absolute;
    margin-left: 35%;
    margin-right: 5%;
    top: 300px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    box-shadow: 0px 8px 0px 2px rgb(105, 105, 105);
}

.button2:active {
    background-color: rgb(80, 80, 255);
}

.glass {
    position: absolute;
    margin-left: 32.7%;
    margin-right: 5%;
    top: 290px;
    height: 150px;
    width: 150px;
    border-radius: 40%;
    border: 0px;
    opacity: 50%;
    background-color: rgb(61, 253, 253);
}

.textred {
    position: absolute;
    margin-left: 70%;
    top: 0px;
    color: red;
    font-size: 20px;
}

.textblue {
    position: absolute;
    margin-left: 10%;
    margin-right: 50%;
    top: 0px;
    color: blue;
    font-size: 20px;
}

.move1 {
    left: 100px;
}

.move2 {
    right: 500px;
    top: 100px;
}

.move3 {
    right: 800px;
    top: 300px;
}

.spin1{
    /* This plays the animation */
    animation: spinning1 1s linear infinite;
}

/* this is the animation */
@keyframes spinning1{
    0% {transform: rotate(0deg) translateX(100px) rotate(0deg);}
    100% {transform: rotate(360deg) translateX(100px) rotate(-360deg);}
}

.spin2{
    animation: spinning2 3s linear infinite;
}

@keyframes spinning2{
    0% {transform: rotate(0deg) translateX(200px) rotate(0deg);}
    50% {transform: rotate(360deg) translateX(200px) rotate(-360deg);}
    100% {transform: rotate(0deg) translateX(200px) rotate(0deg);}
}

.dashing {
    animation: dash 1.5s linear infinite;
}

@keyframes dash{
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(500px);}
}

.spindash {
    animation: spindashing 2.5s linear infinite;
}

@keyframes spindashing{
    0% {transform: rotate(360deg) translateX(-1000px);}
    100% {transform: rotate(-360deg) translateX(1000px);}
}


.blueend {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 110%;
    height: 110%;
    background-color: blue; 
}

.redend {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 110%;
    height: 110%;
    background-color: red; 
}

