.button1 {
    position: absolute;
    margin-left: 55%;
    margin-right: 0%;
    margin-top: 28%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    box-shadow: 0px 8px 0px 2px rgb(105, 105, 105);
}

.button2 {
    position: absolute;
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 28%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    box-shadow: 0px 8px 0px 2px rgb(105, 105, 105);
}

.textred {
    position: absolute;
    margin-left: 70%;
    top: 0px;
    color: red;
    font-size: 20px;
}

.textblue {
    position: absolute;
    margin-left: 10%;
    margin-right: 50%;
    top: 0px;
    color: blue;
    font-size: 20px;
}

.move1 {
    left: 100px;
}

.move2 {
    right: 500px;
    top: -100px;
}

.move3 {
    right: 800px;
    top: 300px;
}

.spin1{
    right: 100px;
    animation: spinning1 10s linear infinite;
}

@keyframes spinning1{
    0% {transform: rotate(0deg), translateX(0px);}
    100% {transform: rotate(360deg), translateX(0px);}
}